{{! app/templates/restaurants.hbs }}
<div class="row-fluid">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{t 'filterRestaurants'}}</h3>
      </div>

      <div class="panel-body">
        {{! @TODO filter rating }}
      </div>

      <div class="panel-body">
        <label>{{t 'cuisine'}}</label>
        {{#power-select-multiple
          options=cuisineOptions
          selected=filterCuisins
          placeholder=(t 'selectCuisins')
          onchange=(action (mut filterCuisins))
          as |cuisine|}}
          {{cuisine.title}}
        {{/power-select-multiple}}
      </div>

      <div class="panel-body">
        <label>{{t 'name'}}</label><br>
        {{input type='text' value=filterName placeholder=(t 'searchByName')}}
      </div>

      <div class="panel-footer">
        <button {{action 'clearFilters'}}>{{t 'clear'}}</button>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{t 'foundRestaurants' count=filteredRestaurants.length}}</h3>
      </div>

      <div class="panel-body">
        {{#each filteredRestaurants as |restaurant|}}
          <div class="media">
            <a class="media-left">
              <img class="media-object" src={{restaurant-img restaurant.id}} width="64" height="64">
            </a>
            <div class="media-body">
              <h4 class="media-heading">
                {{link-to restaurant.name 'restaurants.detail' restaurant}}
                <span class="label label-info">{{capitalize restaurant.cuisine}}</span>
              </h4>
              {{restaurant.description}}
              {{star-rating item=restaurant rating=restaurant.rating}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
